<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Borntechies\Import\Api\Data\QueueInterface" type="Borntechies\Import\Model\Queue" />
    <preference for="Borntechies\Import\Api\Data\QueueCollectionInterface" type="Borntechies\Import\Model\ResourceModel\Queue\Collection" />
    <preference for="Borntechies\Import\Api\QueueRepositoryInterface" type="Borntechies\Import\Model\ResourceModel\QueueRepository" />
    <preference for="Borntechies\Import\Api\QueueManagementInterface" type="Borntechies\Import\Model\Queue\Management" />
    <preference for="Borntechies\Import\Api\QueueCriteriaInterface" type="Borntechies\Import\Model\ResourceModel\Queue\Criteria" />
    <preference for="Magento\ImportExport\Model\Import\ErrorProcessing\ProcessingErrorAggregator" type="Borntechies\Import\Model\Import\Customer\ErrorProcessing\ProcessingErrorAggregator" />

    <virtualType name="QueueGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="QueueGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Borntechies\Import\Model\Resource\Queue\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">QueueGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Borntechies\Import\Model\ResourceModel\Queue\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">queue_manager</argument>
            <argument name="resourceModel" xsi:type="string">Borntechies\Import\Model\ResourceModel\Queue</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="queue_manager_listing_data_source" xsi:type="string">Borntechies\Import\Model\ResourceModel\Queue\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Borntechies\Index\Api\Data\QueueInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">queue_manager</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="borntechies_products_import" xsi:type="object">Borntechies\Import\Console\Command\ProductImport</item>
                <item name="borntechies_customers_import" xsi:type="object">Borntechies\Import\Console\Command\CustomerImport</item>
                <item name="borntechies_prices_import" xsi:type="object">Borntechies\Import\Console\Command\PriceImport</item>
                <item name="borntechies_categories_import" xsi:type="object">Borntechies\Import\Console\Command\CategoryImport</item>
                <item name="borntechies_stock_import" xsi:type="object">Borntechies\Import\Console\Command\StockImport</item>
                <item name="borntechies_upsell_import" xsi:type="object">Borntechies\Import\Console\Command\UpsellImport</item>
            </argument>
        </arguments>
    </type>
</config>